@import url('https://fonts.googleapis.com/css?family=Gruppo');
 html, body {
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 width: 100%;
	 height: 100%;
	 font-family: 'Gruppo', cursive;
	 color: #fff;
     overflow: scroll;
}
 

.bg-animation, .bg-animation > div {
	 position: absolute;
	 width: 100%;
	 height: 100%;
	 z-index: -1;
}
.bg-animation > div {
	 will-change: opacity;
}
 .bg-animation .bg-1 {
	 background: linear-gradient(180deg, #f9dea1 60%, #9bdaff 100%);
}
 .bg-animation .bg-2 {
	 background: linear-gradient(300deg, #f9c3f5 60%, #9bdaff 100%);
	 animation: bg-fade-1 6s linear infinite;
}
 .bg-animation .bg-3 {
	 background: linear-gradient(10deg, #bab2fc 60%, #9bdaff 100%);
	 animation: bg-fade-2 6s linear infinite;
}
 @keyframes bg-fade-1 {
	 0% {
		 opacity: 1;
	}
	 33% {
		 opacity: 1;
	}
	 66% {
		 opacity: 0;
	}
	 100% {
		 opacity: 0;
	}
}
 @keyframes bg-fade-2 {
	 0% {
		 opacity: 1;
	}
	 33% {
		 opacity: 0;
	}
	 66% {
		 opacity: 0;
	}
	 100% {
		 opacity: 1;
	}
}
/* ______ */
.nav{
    margin-top: -25px;
    padding-top: 5px;
    padding-bottom: 1px;
    /* padding: 5px auto 12px auto; */
    /* padding: 1px; */
    width:100%;
    display: block;
    color: #f3f3f3;
    background-color: #3498db;
}
.nav h1{
    font-size: 40px;
    font-family: monospace;
}
.fit{
    display: flex;
    flex-direction: row;
}
#form {
    padding-top: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin-top: -40vh;
    margin: -40vh auto 0vh auto;
    margin-left: 20vw;
    margin-right: 20vw;
    /* margin: auto auto; */
}
#fileInput{
    margin-top: 18px;
	 display: inline-block;
	 text-decoration: none;
	 color: #fff;
	 padding: 10px 20px;
	 border-radius: 10px;
	 border: 1px solid rgba(255, 255, 255, 0.6);
	 background: linear-gradient(10deg, rgba(0, 0, 0, 0.1) 60%, rgba(255, 255, 255, 0.1) 100%);
}
#fileInput:after {
    animation: downloadArrow 1s linear infinite;
    animation-play-state: paused;
}
#fileInput:hover:after {
    animation-play-state: running;
}
#textOutput ,.to-text {
    width: 500px;
    height: 300px;
    margin: 20px;
    background-color: #ECF2FF;
    /* box-shadow: 20px 50px 80px rgba(179, 38, 38, 0.25); */
        border-radius: 10px;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.buttons {
    display: flex;
    justify-content: space-around;
    top: 10px;
    left: 20px;
}

.buttons button {
    width: 150px;
    height: 50px;
    background-color: white;
    margin: 20px;
    color: #568fa6;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.3s ease;
    cursor: pointer;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

.buttons button:before,
.buttons button:after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #44d8a4;
    transition: all 0.3s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.buttons button:before {
    right: 0;
    top: 0;
    transition: all 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.buttons button:after {
    left: 0;
    bottom: 0;
}

.buttons button span {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    z-index: 1;
}

.buttons button span:before,
.buttons button span:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 0;
    background-color: #44d8a4;
    transition: all 0.3s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.buttons button span:before {
    right: 0;
    top: 0;
    transition: all 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.buttons button span:after {
    left: 0;
    bottom: 0;
}

.buttons button p {
    padding: 0;
    margin: 0;
    transition: all 0.4s cubic-bezier(0.35, 0.1, 0.25, 1);
    position: absolute;
    width: 100%;
    height: 100%;
}

.buttons button p:before,
.buttons button p:after {
    position: absolute;
    width: 100%;
    transition: all 0.4s cubic-bezier(0.35, 0.1, 0.25, 1);
    z-index: 1;
    left: 0;
}

.buttons button p:before {
    content: attr(data-title);
    top: 50%;
    transform: translateY(-50%);
}

.buttons button p:after {
    content: attr(data-text);
    top: 150%;
    color: #44d8a4;
}

.buttons button:hover:before,
.buttons button:hover:after {
    width: 100%;
}

.buttons button:hover span {
    z-index: 1;
}

.buttons button:hover span:before,
.buttons button:hover span:after {
    height: 100%;
}

.buttons button:hover p:before {
    top: -50%;
    transform: rotate(5deg);
}

.buttons button:hover p:after {
    top: 50%;
    transform: translateY(-50%);
}

.buttons button.start {
    background-color: #44d8a4;
    box-shadow: 0px 5px 10px -10px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
}

.buttons button.start p:before {
    top: -50%;
    transform: rotate(5deg);
}

.buttons button.start p:after {
    color: white;
    transition: all 0s ease;
    content: attr(data-start);
    top: 50%;
    transform: translateY(-50%);
    animation: start 0.3s ease;
    animation-fill-mode: forwards;
}

@keyframes start {
    from {
        top: -50%;
    }
}

.buttons button.start:hover:before,
.buttons button.start:hover:after {
    display: none;
}

.buttons button.start:hover span {
    display: none;
}

.buttons button:active {
    outline: none;
    border: none;
}

.buttons button:focus {
    outline: 0;
}

/* ----------------------buttton---------------------- */


body {

    background-color: #193c6d;
    filter: progid: DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#003073', endColorstr='#029797');
    background-image: url(//img.alicdn.com/tps/TB1d.u8MXXXXXXuXFXXXXXXXXXX-1900-790.jpg);
    background-size: 100%;
    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0, #003073), color-stop(100%, #029797));
    background-image: -webkit-linear-gradient(135deg, #003073, #029797);
    background-image: -moz-linear-gradient(45deg, #003073, #029797);
    background-image: -ms-linear-gradient(45deg, #003073 0, #029797 100%);
    background-image: -o-linear-gradient(45deg, #003073, #029797);
    background-image: linear-gradient(135deg, #003073, #029797);
    text-align: center;
    margin: 0px;
    /* margin: -50vh; */
    /* padding: -80vh; */
    overflow: hidden;
}


/* CSS */
.button-17 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.button-17:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-17:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.button-17:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-17:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}